aside-element{
    display: block;
    box-shadow: 0 2px 28px 0 rgba(100, 100, 100, 0.4);
    float: right;
    width: 24%;
    font-size: medium;
    border-radius: 5px;
    background-color: white;
}
aside-element .card{
    padding: 15px;
    height: auto;
    text-align: center;
}
.aside-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
aside-element h3{
    text-align: center;
    margin: 10px;
    color: white;
}
.aside-header{
    padding: 17px;
    background-color:rgb(255, 119, 77) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
table{
    margin: auto;
    text-align: left;
    font-size: small;
}