@import "appbar.css";
@import "aside.css";
@import "searchbar.css";
@import "movielist.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #DEE2E6;
}

main {
    width: 95%;
    margin: 20px auto;
    
}
.content{
    float: left;
    width: 73%;
}

@media screen and (max-width: 800px){
    aside-element, .content{
        float: none;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }
    .aside-header{
        padding: 8px;
    }
    .aside-img{
        width: 40%;
    }
}